/* 전체 적용 CSS 공간 */
.App {
  font-family: 'NanumSquareRound';
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 100;
  src: url('./assets/fonts/NanumSquareL.otf');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 200;
  src: url('./assets/fonts/NanumSquareR.otf');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url('./assets/fonts/NanumSquareB.otf');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url('./assets/fonts/NanumSquareEB.otf');
}

@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

