.totalContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview {
  width: 640px;
  height: 360px;
  border: solid 10px black;
}

.next {
  margin-top: 2rem;
}
