.totalContainer {
  background-color: #ffffff;
  opacity: 0.8;
  background-image: linear-gradient(#929292 1px, transparent 1px),
    linear-gradient(to right, #929292 1px, #ffffff 1px);
  background-size: 30px 30px;
  height: 100vh;
  position: relative;
}

.triangles {
  position: absolute;
  width: 100%;
  height: 100%;
}

.triangle1 {
  width: 0px;
  height: 0px;
  border-bottom: 40vh solid #bdcde5;
  border-left: 0px solid transparent;
  border-right: 100vw solid transparent;
  transform: scaleY(-1);
}

.triangle2 {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 60%;
  border-bottom: 40vh solid #f8cbd3;
  border-left: 100vw solid transparent;
  border-right: 0px solid transparent;
}

.child {
  position: absolute;
  width: 79.8vw;
  height: 83vh;
  left: 0.5vw;
  top: -0.5vh;

  border-radius: 20px;

  background-color: white;

  border: 2px solid #000000;
}

.parent {
  position: relative;
  width: 80vw;
  height: 84vh;
  left: 9.8vw;
  top: 8vh;

  border-radius: 20px;

  background-color: #fff1bf;

  border: 2px solid #001111;
}

.sideContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 78vh;
  vertical-align: center;
}

hr {
  width: 100%;
  height: 1.5px;
  border: 0;
  background-color: black;
}

.circles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 10px 10px 0 10px;
}

.circle1 {
  border: 2px solid black;
  width: 10px;
  height: 10px;
  border-radius: 75px;
  background-color: #000000;
  float: left;
  background-color: #96ba85;
}

.circle2 {
  border: 2px solid black;
  width: 10px;
  height: 10px;
  border-radius: 75px;
  background-color: #000000;
  float: left;
  background-color: #ffe381;
  margin-left: 0.3rem;
}

.circle3 {
  border: 2px solid black;
  width: 10px;
  height: 10px;
  border-radius: 75px;
  background-color: #000000;
  float: left;
  background-color: #ef8181;
  margin-left: 0.3rem;
  margin-right: 1rem;
}

.next {
  border-radius: 29px;
  height: 10%;
}

.nextBtn {
  vertical-align: middle;
  border-radius: 29px;
  padding: 10px 30px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
  font-size: 1vw;
  background-color: var(--pink);
}

.backBtn {
  vertical-align: middle;
  border-radius: 29px;
  padding: 10px 30px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
  font-size: 1vw;
  background-color: var(--gray);
  margin-left: 2rem;
}

.nextBtn:hover,
.backBtn:hover {
  background-color: var(--yellow);
  transition: 0.7s;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settingVideo,
.settingAudio,
.settingSpeaker {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
}

select {
  width: 20vw;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 30px;
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.teacher-span {
  font-size: 0.5em;
}

.RoomName {
  height: 10%;
  /* text-align: end; */
}
.preview {
  /* width: 449px; */
  height: 40%;
}
.setting-section {
  display: flex;
  height: 25%;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  width: 420px;
}

.double-pongpong-toggle {
  margin-bottom: 1rem;
}

.double-pongpong-toggle span {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 600;
}
