#oneParticipant {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right_side {
  font-weight: 600;
}

.left_side {
  display: flex;
  justify-content: center;
}

.left_side > * {
  margin-right: 0.5rem;
}
